header {
  background-color: var(--headerBg-color);
  border-bottom: 1px solid #dddddd;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding-left: 5rem;
  height: var(--header-height);
  display: flex;
  /*  align-items: normal;*/
  /* justify-content: space-between; */
  z-index: 100;
  color: var(--headerTxt-color);
}

.header-weather {
  margin-top: 1.5rem;
  margin-left: 4rem;
}

header div {
  width: 100%;
}

header p {
  font-weight: 700;
  color: var(--headerTxt-color);
  text-shadow: 0 0.2rem 0.1rem rgba(0, 0, 0, 0.5);
}

header i {
  cursor: pointer;
  padding-left: 0.3rem;
  font-weight: 900;
  text-shadow: 0 0.1rem 0.1rem var(--headerTxt-color);
}

.header-dates {
  position: fixed;
  top: 1rem;
  left: 5.5rem;
  width: 100%;
}

.header-dates h2 {
  text-shadow: 0 0 0.3rem var(--headerTxt-color);
}

.header-dates div {
  width: 15rem;
  justify-content: space-between;
}

@media (max-width: 999px) {
  .header-weather {
    display: none;
  }
}
