.days-header,
.days-header-short {
  background-color: #191a1a;
  position: fixed;
  left: var(--sidebar-width);
  right: 0;
  top: var(--header-height);
  height: var(--sub-header-height);
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: whitesmoke;
}

.days-header-short {
  display: none;
}

main {
  width: 100%;
  height: 100%;
  margin-top: calc(var(--header-height) + var(--sub-header-height));
  margin-left: var(--sidebar-width);
  background-image: var(--aside-background-image);
}

.day-card-wrapper {
  display: grid;
  column-gap: 26px;
  row-gap: 8px;
  justify-items: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.day-card {
  border: 1px solid black;
  background-image: var(--toDoCardTxtArea-background-image);
  width: 100%;
  height: 100px;
  cursor: pointer;
}

.day-card:hover {
  background-image: none;
  background-color: #ffffff;
}

.day-card-text {
  text-align: center;
  margin-top: 10px;
  font-size: 2rem;
  color: black;
}

.day-card-nameDay {
  text-align: center;
  margin-top: 2px;
  font-size: 0.7rem;
  color: black;
}

.day-card-idRed {
  background-color: #ff0000;
  background-image: none;
}

.day-card-tasks {
  text-align: center;
  margin-bottom: 2px;
  font-size: 1.5rpxem;
  color: white;
  background-color: black;
}

.day-card-isSelected {
  background-image: var(--toDoCardTxtArea-background-image);
  border: 3px solid rgb(255, 0, 0);
}

.day-card-isDummy {
  background-color: #737573;
  background-image: none;
  cursor: default;
}

.day-card-isDummy-text {
  text-align: center;
  margin-top: 25px;
  font-size: 2rem;
  color: black;
}

@media (max-width: 999px) {
  .days-header {
    display: none;
  }

  .days-header-short {
    display: flex;
    font-size: 0.9rem;
  }

  .day-card-nameDay {
    display: none;
  }

  .day-card-wrapper {
    column-gap: 4px;
    margin: 2px 2px 0 2px;
  }

  .day-card-text,
  .day-card-isDummy-text {
    font-size: 1rem;
    margin-top: 2rem;
    font-weight: 700;
  }

  .day-card-tasks {
    font-size: 1rem;
  }
}
