aside {
  background-color: #04a126;
  flex-direction: column;
  border-right: 1px solid #dddddd;
  min-width: var(--sidebar-width);
  position: fixed;

  top: calc(var(--header-height));
  bottom: 0;
  left: 0;
  text-align: center;
}

aside div {
  justify-content: space-between;
  width: 160px;
  padding-left: 0.5rem;
  font-size: 10px;
  color: whitesmoke;
}

.aside-div {
  display: flex;
  align-content: space-between;
  border: 1px solid black;
  border-radius: 15px;
  align-items: center;
  height: 2rem;
  padding: 1rem;
  background-color: rgb(228, 87, 87);
  background-image: linear-gradient(to right, rgb(207, 3, 3), brown);
}
