header {
  display: none;
}

header div {
  display: none;
}

header p {
  display: none;
}

header i {
  display: none;
}

.header-dates {
  display: none;
}

.header-dates h2 {
  display: none;
}

.header-dates div {
  display: none;
}
