/* Globala konstanter, används i andra filer */

:root {
  --header-height: 100px; /* Höjden på header */
  --sidebar-width: 180px; /* Bredden på sidomeny */
  --sub-header-height: 50px; /* Höjden sub-header inuti main */
  /* Kanske lägga in färger som konstanter här */
}
